.comments{
  margin-top: 17px;
  margin-left: 27px;
}

.show_comment{
  border: 2px solid lightgrey;
  width: 40%;
  text-align: center;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}
.show_comment:hover{
  border: 2px solid #28A745;
}

.create_comment{
  width: 40%;
  text-align: center;
  margin-top: 10px;
}

.create_comment_btn{
  margin-top: -25px;
}

.datetime{
  font-size: 13px;
}
