<div class="create_comment">
  <%= form_for([@problem, @problem.comments.build ]) do |f| %>
    <%= f.text_area :content, class: "form-control comment_content", placeholder: 'Написать коментарий....' %><br>
    <%= f.submit 'Отправить', class: "btn btn-primary create_comment_btn" %>
  <% end %>
</div>
