<div class="create_comment">
  <%= form_for([@problem, @problem.comments.build ], remote: true) do |f| %>
    <%= f.text_area :content, class: "form-control comment_content", placeholder: "#{t ".write_comment"}" %><br>
    <span><%= f.submit "#{t ".send_comment"}", class: "btn btn-primary create_comment_btn btn-sm" %></span>
    <span>
      <% if @comments.count > 2 %>
        <%= link_to 'Посмотреть все отзывы', problem_comments_path(@problem), class: 'btn btn-success btn-sm all_comments_btn' %>
      <% end %>
    </span>
    <div class="clearfix"></div>
  <% end %>
</div>
