<div class="container">
  <h2 class="my-4">
    В Процессе
  </h2>
  <div class="row">
    <% @all_in_progress_problems.each do |problem| %>
      <div class="col-md-4 in_progress_problem">
        <div class="card mb-r wow fadeIn" data-wow-delay="0.2s">
          <%= image_tag "#{problem.images.first.url(:thumb)}", class: 'img-fluid' if problem.images? %>
          <div class="card-body">
            <h5 class="card-title">
                <strong><%= "#{problem.title}" %></strong>
            </h5>
            <p class="card-text"><%= truncate("#{problem.description}", length: 50) %></p>
            <!-- <a href="#" class="btn btn-md view">Просмотр</a> -->
            <%= link_to 'Просмотр', problem_path(problem), class: "btn btn-md view" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
