// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_problem {
  margin-left: 30px;
}

.problem_show:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
}

.in_progress_problem {
  border-radius: 2px;
}

.resolved_problem {
  border-radius: 2px;
}
.img-fluid {
  vertical-align: middle;
}

.all_resolved_problems_btn {
  margin: 10px 0 10px 0;
}

.all_in_progress_problems_btn {
  margin: 10px 0 10px 0;
}
