// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

#index_map_canvas {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

body {
  // background-image: url('background.jpeg');
  // margin: 0 auto;
  // width: 90%;
}

.yield {
}

.main-problems {

}

.main-problem {
  display: inline-block;
  width: 21%;
  margin: 0 auto;
}

.indexHeader{
  text-align: center;
  margin-top: 10px;
}

.gran{
  margin-left: 80px;
  margin-right: 80px;
  // border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.col-md-3{
    text-align: center;
    margin: 0 auto;
  }

  .col-md-3 p{
    font-size: 46px;
  }

.count_problems {
  margin-top: 10px;
  background-color: #274e68;
  color: white;
}

.flash_error{
  margin-top: 10px;
}

.problem_show:hover {
  border: 1px solid white;
}

.pagination {
  margin-bottom: 30px;
}


/* Carousel and pictures */

.view:not(.hm-zoom) {
    overflow:visible;
}

/* Margin from the top */

.container {
    .row {
        margin-top: 2.5rem;
    }
}
