// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

#index_map_canvas {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.in_prog_label_btn {
  overflow:hidden;
}

.in_prog_label {
  float: left;
}

.in_prog_btn {
  float: right;
}

.resolved_label_btn {
  overflow:hidden;
}

.resolved_label {
  float: left;
}

.resolved_btn {
  float: right;
}

.card_and_map {
  box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
}

.in_prog_text {
  display: inline;
}

.view_all_btn {
  display: inline;
  float: right;
}

.yield {
}

.create {
  background-color: #78909c;
  font-size: 17px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease-in-out;
}

.create:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s ease-in-out;
}


.view {
  background-color: #78909c;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease-in-out;
  color: white
}

.view:hover {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s ease-in-out;
}

.main-problem {
  display: inline-block;
  width: 21%;
  margin: 0 auto;
}

.indexHeader{
  text-align: center;
  margin-top: 10px;
}

.col-md-3{
    text-align: center;
    margin: 0 auto;
  }

  .col-md-3 p{
    font-size: 46px;
  }

.count_problems {
  margin-top: 10px;
  background-color: #274e68;
  color: white;
}

.flash_error{
  margin-top: 10px;
}

/* Carousel and pictures */

.view:not(.hm-zoom) {
    overflow:visible;
}

/* Margin from the top */

.container {
    .home-map {
        margin-top: 2.5rem;
    }
}

.card-text {
  color: #757474;
}

@media only screen and (max-width: 500px) {
  .in_progress_problem, .resolved_problem  {
    margin-bottom: 35px;
  }
}

// .in_progress_problem, .resolved_problem  {
//   padding-left: 3px;
//   padding-right: 3px;
// }

.gm-style-iw {
  color: black;
}
