// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";

body {
  background-image: url('background.jpeg');
  margin: 0 auto;
  width: 90%;
}

.yield {
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 10px;
  padding: 15px 0 15px 0;
}

.main-problems {

}

.main-problem {
  display: inline-block;
  width: 21%;
  margin: 0 auto;
}

.indexHeader{
  text-align: center;
}

.gran{
  margin-left: 80px;
  margin-right: 80px;
  // border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.col-md-3{
    text-align: center;
    margin: 0 auto;
  }

  .col-md-3 p{
    font-size: 46px;
  }

.count_problems {
  background-color: white;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.flash_error{
  margin-top: 10px;
}
