/* NAVIGATON */
.navigation {
  // border: 1px solid lightgrey;
  // margin-top: 10px;
  background-color: #274e68;
}

.navbar-brand {
  margin-top: -22px;
  margin-bottom: -22px;
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.login {
  margin-left: -9px;
  color: white;
}

.login:hover{
  text-decoration: none;
  color: #28A745;
}

.signup {
  margin-left: -12px;
  color: white;
}

.signup:hover{
  text-decoration: none;
  color: #28A745;
}

.logout {
  margin-left: -12px;
  color: white;
}

.profile {
  margin-left: -4px;
  color: white;
  margin-right: 10px;
}

.profile:hover{
  text-decoration: none;
}

.logout:hover{
  text-decoration: none;
  color: red;
}

.create {
  background-color: #28A745;
  color: white;
  margin-left: 10px;
}

.nav-user-actions {
  float:right;
}

.search-create {
  margin:5px 0px 5px 5px;
  float: right;
}

.user-action {
  text-align: right;
  margin: 0 0 40px 0;
}



/* END NAVIGATON */
