/* NAVIGATON */
.navbar {
  background-color: #274e68;
  box-shadow: 0 0 40px rgba(0,0,0,0.5); /* Параметры тени */
}

.login {
  color: white;
  margin-left: -4px;
}

.login:hover{
  text-decoration: none;
  color: white;
}

.signup {
  color: white;
  margin-left: -10px;
}

.signup:hover{
  text-decoration: none;
  color: white;
}

.logout {
  color: white;
  margin-left: -12px;
}

.profile {
  margin-left: -4px;
  color: white;
  margin-right: 20px;
}

.profile:hover{
  text-decoration: none;
  color: #28A745 !important;
}

.logout:hover{
  text-decoration: none;
  color: red;
}

.create {
  background-color: #28A745;
  color: white;
}
/* END NAVIGATON */
