/* User signup*/

.user-signup-page {
  width: 40%;
}

.user-login-page {
  width: 40%;
}

.user-edit-page {
  width: 40%;
}

@media only screen and (max-width: 600px) {
    .user-login-page {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .user-signup-page {
        width: 80%;
    }
}
