<h2 align = 'center'>All Users</h2>
<% @users.each do |user| %>
  <%= link_to  "#{user.id}:", admin_user_path(user.id) %>
  <%= link_to  "#{user.email}", admin_user_path(user.id) %>
  <%= link_to 'Destroy',  admin_user_path(user.id), data: { confirm: 'Are you sure?' }, method: :delete %><br>
<% end %>
