<h2 class="indexHeader">Статистика</h2>
<div class="row gran">
  <div class="col-md-3">
    <p>
      <%= @all_problems %>
    </p>
    <h5>Добавлено на сайт</h5>
  </div>
  <div class="col-md-3">
    <p class="red">
      <%= @in_progress_problems %>
    </p>
    <h5>Обрабатывается</h5>
  </div>
  <div class="col-md-3">
    <p>
      <%= @resolved_problems %>
    </p>
    <h5>Исправлено</h5>
  </div>
</div>
